body {
  margin: 0;
  padding: 0;
  font-family: "Pixelify Sans", sans-serif;
}

#container {
  width: 900px;
  height: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 450px;
  background-color: #130F0F;
  border: 2px dashed blue;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  
}

h1 {
  color: #4CF0E8;
}
#background-box {
  background-color: #A2DDF0;
  display: flex;
  justify-content: center;

}

.egg-options {
  background-image: url('assets/images/background.png');
  background-repeat: no-repeat;
  background-color: #A2DDF0;
  background-position: center;
  width: 700px;
  height: 700px;
  border: 2px dashed blue;
  border-radius: 10px;
}


.eggs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-top: 150px;
  font-size: larger;

}


.soft-boiled-egg img{
  width: 300px;
  height: 300px;
}

.hard-boiled-egg img{
  width: 300px;
  height: 300px;
}
